<div class="row">
    <div class="col s1 left">
        <i class="fas fa-times ltxt close" (click)="onClose()"></i>
    </div>
</div>
<div class="row" *ngIf="factura" id="datos">
    <div class="col s12">
        <table class="bordered">
            <tbody>
                <tr>
                    <th>Fecha:</th>
                    <td>{{factura.fecha.toLocaleDateString()}}</td>
                </tr>
                <tr>
                    <th>Concepto:</th>
                    <td>{{factura.concepto}}</td>
                </tr>
                <tr>
                    <th>Descripcion:</th>
                    <td>{{factura.descripcion}}</td>
                </tr>
                <tr>
                    <th>Razon Social:</th>
                    <td>{{factura.razon}}</td>
                </tr>
                <tr>
                    <th>R.F.C.:</th>
                    <td>{{factura.RFC}}</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>{{factura.email}}</td>
                </tr>
                <tr>
                    <th>Teléfono:</th>
                    <td>{{factura.telefono}}</td>
                </tr>
                <tr>
                    <th>Subtotal:</th>
                    <td>{{factura.subtotal}}</td>
                </tr>
                <tr>
                    <th>I.V.A.:</th>
                    <td>{{factura.iva}}</td>
                </tr>
                <tr>
                    <th>Total:</th>
                    <td>{{factura.total}}</td>
                </tr>
                <tr>
                    <th>Tipo de factura:</th>
                    <td>{{factura.tipo_factura}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>