input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default) {
    border: solid 2px #ccc;
    font-size: 1.2em;
    text-align: center;
    color: #f3f3f3;
}

agm-map {
    height: 300px;
}

.input-field label:not(.label-icon).active {
    -webkit-transform: translateY(-14px) scale(0.8);
    transform: translateY(-22px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

input[type=text]:not(.browser-default):disabled {
    color: thistle !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: gold;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: rgba(255, 217, 0, 0.562);
}

.datepicker,
.timepicker {
    cursor: pointer;
}

#duracion {
    max-width: 20%;
}

.title {
    margin: 0 0 2em;
    padding-top: 5em;
}

.title p {
    margin-bottom: 0;
}

.contenido {
    width: 100vw !important;
}

.formulario {
    margin-left: 0 !important;
    width: 90%;
}

#estado {
    border: none;
    background: #2a062a;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .5) !important;
}

.total_box{
    position: fixed;
    padding: 0 1em;
    z-index: 10;
    bottom: 0;
    right: 0;
}

@media screen and (min-width: 500px) {
    #edoContainer {
        position: relative;
        top: -6px;
    }
}