.negImg {
    position: relative;
    margin: 0 1em;
    overflow: hidden;
    height: 20vw;
    width: 20vw;
    border-radius: 1em;
}

.titleLabel {
    font-size: 180% !important;
}

.negImg img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    max-width: 200%;
    background-color: #fff;
}

.negName {
    font-weight: 900;
    margin-bottom: .5em;
    height: 3em;
}

.rating {
    font-size: 10px;
    font-weight: 400;
}

.negocio {
    padding: 1em;
    cursor: pointer;
    margin: .3em !important;
    display: flex;
    max-width: 90vw;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 500px) {
    #negocios {
        position: relative;
        top: 5em;
    }
    .negocio {
        /* width: 21% !important; */
        width: 30% !important;
        margin: 1em !important;
    }
    .negImg {
        height: 5vw;
        width: 5vw;
    }
}