<div class="contenido">
    <div class="row title">
        <div class="col s2">
            <a (click)="location.back()" class="back ltxt" style="padding: 0 0.5em">
                <i class="fas fa-arrow-left"></i>
            </a>
        </div>
        <div class="col s8">
            <p class="titleLabel ltxt center">
                {{catego}}
            </p>
        </div>
    </div>

    <div class="container" id="negocios">

        <div class="row" *ngIf="negocios.length > 0; else noNegocios">
            <div class="col s12 l4 ltxt negocio bg-2" *ngFor="let neg of negocios" [routerLink]="['/negocio/', neg.data.idNegocio]">
                <div class="negImg">
                    <img src="{{neg.data.imgPerfil}}" alt="">
                </div>
                <p class="negName grey-text lighten-1 left">
                    {{neg.data.nombre}} <br>
                    <span class="rating">
                    Recomendaciones: <span [ngClass]="{'resaltado': neg.rating > 0}">{{neg.rating}}</span>
                    </span>
                </p>
            </div>
        </div>

        <ng-template #noNegocios>
            <div class="row">
                <div class="noData row valign-wrapper grey-text lighten-1">
                    <div class="col s12 center">
                        <i class="fas fa-sad-tear"></i>
                        <h5>Por ahora no hay ningún negocio de {{catego}} en tu ciudad registrado. Vuelve más tarde</h5>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>