<div class="container contenido">
    <div class="row center ltxt">
        <div class="col s12">
            <h4 class="exclam">¡Muy bien!</h4>
            <h5 class="grey-text lighten-1">Ahora que ya sabemos lo que necesitas para tu evento de {{evento.tipoEvento}}, te presentamos una cotizción</h5>
            <p class="ltxt">Puedes modificar las cantidades como más te convenga</p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col s12 white-text">
            <div class="cotiTable bg-2">
                <form name="cotizacion" #cotizacion="ngForm" (ngSubmit)="contratar()" action="#" method="post" onsubmit="return false">
                    <div class="col s8">
                        <p class="ltxt">
                            ¿REQUIERES FACTURA?<br>
                            <span class="switch">
                                    <label>No
                                        <input type="checkbox" (change)="needFactura($event)">
                                        <span class="lever"></span> Sí
                            </label>
                            </span><br>
                            <span *ngIf="costos.factura" class="grey-text adv">Al activar esta opción ACEPTAS que los costos de IVA correran por tu cuenta, aumentando el valor del servicio</span>
                        </p>
                    </div>
                    <div class="col s4">
                        <p class="grey-text right" *ngIf="!costos.factura">
                            Total a pagar del servicio
                            <br> $
                            <span *ngIf="subtotal" class="resaltado total right">
                                {{ subtotal }}
                            </span>
                        </p>
                        <table class="grey-text" *ngIf="costos.factura">
                            <tbody>
                                <tr>
                                    <th>Subtotal:</th>
                                    <td>${{subtotal}}</td>
                                </tr>
                                <tr>
                                    <th>I.V.A. (16%):</th>
                                    <td>${{iva}}</td>
                                </tr>
                                <tr>
                                    <th>Retenciones (-6%):</th>
                                    <td>${{retenciones}}</td>
                                </tr>
                                <tr>
                                    <th>Total:</th>
                                    <td>$<span class="resaltado total">{{total}}</span> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <table>
                        <thead>
                            <tr>
                                <th>Cant.</th>
                                <th>Concepto</th>
                                <th>Costo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" min="1" name="meseros" value={{personal.meseros}} [(ngModel)]="personal.meseros" #meseros="ngModel" required>
                                </td>
                                <td> Meseros </td>
                                <td #mesero> ${{precios.mesero * personal.meseros}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" name="capitanMeseros" value={{personal.capitanMeseros}} min="1" [(ngModel)]="personal.capitanMeseros" #capitanMeseros="ngModel" required><br>
                                    <span class="adv" *ngIf="validarCapitanes()">*Para un evento de {{evento.tipoEvento}} es necesario un Capitán de meseros mínimo</span>
                                </td>
                                <td> Capitán de meseros </td>
                                <td> ${{precios.capitanMesero * personal.capitanMeseros}}</td>

                            </tr>
                            <tr *ngIf="extrasArray.includes('barman')">
                                <td>
                                    <input type="number" name="barman" value={{extras.barman}} [(ngModel)]="extras.barman" #barman="ngModel">
                                </td>
                                <td> Barman </td>
                                <td> ${{precios.barman * extras.barman}}</td>
                                <td><i class="fas fa-times center" (click)="delPuesto('barman')"></i></td>
                            </tr>
                            <tr *ngIf="extrasArray.includes('bartender')">
                                <td>
                                    <input type="number" name="bartender" value={{extras.bartender}} [(ngModel)]="extras.bartender" #bartender="ngModel">
                                </td>
                                <td> Bartender </td>
                                <td> ${{precios.bartender * extras.bartender}}</td>
                                <td><i class="fas fa-times center" (click)="delPuesto('bartender')"></i></td>
                            </tr>
                            <tr *ngIf="extrasArray.includes('escamoche')">
                                <td>
                                    <input type="number" name="escamoche" value={{extras.escamoche}} [(ngModel)]="extras.escamoche" #escamoche="ngModel">
                                </td>
                                <td> Escamoche </td>
                                <td> ${{precios.escamoche * extras.escamoche}}</td>
                                <td><i class="fas fa-times center" (click)="delPuesto('escamoche')"></i></td>
                            </tr>
                            <tr *ngIf="extrasArray.includes('valet')">
                                <td>
                                    <input type="number" name="valet" value={{extras.valet}} [(ngModel)]="extras.valet" #valet="ngModel">
                                </td>
                                <td> Personal de valet </td>
                                <td> ${{precios.valet * extras.valet}}</td>
                                <td><i class="fas fa-times center" (click)="delPuesto('valet')"></i></td>
                            </tr>
                            <tr *ngIf="extrasArray.includes('hostess')">
                                <td>
                                    <input type="number" name="hostess" value={{extras.hostess}} [(ngModel)]="extras.hostess" #hostess="ngModel">
                                </td>
                                <td> Personal de hostess </td>
                                <td> ${{precios.hostess * extras.hostess}}</td>
                                <td><i class="fas fa-times center" (click)="delPuesto('hostess')"></i></td>
                            </tr>
                            <tr *ngIf="extrasArray.includes('vigilante')">
                                <td>
                                    <input type="number" name="vigilante" value={{extras.vigilante}} [(ngModel)]="extras.vigilante" #vigilante="ngModel">
                                </td>
                                <td> Vigilante </td>
                                <td> ${{precios.vigilante * extras.vigilante}}</td>
                                <td><i class="fas fa-times center" (click)="delPuesto('vigilante')"></i></td>
                            </tr>

                            <input type="hidden" name="total" value={{total}}>
                        </tbody>
                    </table>
                    <div class="col s12">
                        <p class="center col s12 grey-text lighten-1">¿Quieres agregar más personal?</p><br>
                        <div class="col s12 m6">
                            <select name="puestoExtra" [(ngModel)]="puestoExtra" (change)="addPuesto()">
                                <option *ngFor="let puesto of puestos" [value]="puesto.id">{{puesto.nombre}}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="center white-text">¿Listo para contratar?</p>
            <button class="needbtn" (click)="contratar()">Contratar</button>
        </div>
        <div class="col s12 center">
            <p class="resaltado" *ngIf="error">No puedes dejar cantidades en 0</p>
        </div>

    </div>
</div>