.picker__frame {
    margin: 0 auto;
    max-width: 565px;
}

.picker__date-display {
    text-align: center;
    background-color: #26a69a;
    color: #fff;
    padding-bottom: 15px;
    font-weight: 300;
    float: left;
    width: 50%;
    height: 330PX;
}

.picker__calendar-container {
    padding: 0 1rem;
    float: left;
    width: 50%;
}

.picker__footer {
    text-align: right;
    padding: 5px 10px;
    clear: both;
    width: 50%;
    float: right;
}

.picker__month-display {
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 55px;
}

.picker__table,
.picker__weekday-display {
    display: none !important;
}

.picker__select--month.browser-default {
    display: inline !important;
}

.picker__container__wrapper {
    max-width: 250px !important;
}

.picker__calendar-container {
    padding: 0 !important;
}

.picker__header {
    margin: 1em 0px !important;
    width: 100% !important;
}

.picker__select--month.browser-default {
    width: 50% !important;
}

.doc_view {
    position: fixed;
    background: purple;
    width: 40%;
    height: 100%;
    top: 0;
    right: -40vw;
    box-shadow: -5px 0px 3px rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 2.5em;
    transition: .3s;
    display: none;
}

.openData {
    display: block;
    transition: .3s;
    right: 0vw !important;
}