<div class="row">
    <div class="col s10">
        <h2 class="grey-text lighten-1">FACTURAS</h2>
    </div>
</div>

<div class="row">
    <div class="col s12 right">
        <button class="btn waves-effect purple lighten-1">Agregar</button>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <table class="bordered responsive-table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Concepto</th>
                    <th>Razón social</th>
                    <th>Requerida</th>
                    <th>Opciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let factura of facturas">
                    <td> {{factura.fecha}} </td>
                    <td>{{factura.concepto}} </td>
                    <td> {{factura.razon}} </td>
                    <td> <i class="fas fa-check gold-text" *ngIf="factura.requerida"></i> </td>
                    <td class="options valign-wrapper">
                        <i class="fas fa-trash red-text"></i>
                        <i class="fas fa-external-link-alt green-text" [routerLink]="['../co_info']"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>