<div class="overlay">

    <div id="mainMenu">

        <div class="row areaLogo">
            <div class="col s12 center">
                <div class="logo">
                    <img src="../../../assets/img/logos/logo256.png" alt="">
                </div>
            </div>
        </div>
        <div *ngIf="authService.user$ | async; then usuario"></div>
        <div id="areaLinks">
            <div class="col s12 right">

                <p class="Link" [routerLink]="['/', perfilMenu.perfil]" (click)="switchMenu(perfilMenu.perfil)" (click)="toggleMenu()">
                    {{perfilMenu.legend}}
                </p>
                <p class="Link" [routerLink]="['/directorio/bienvenida']" (click)="toggleMenu()">
                    NEED Business
                </p>
                <p class="Link" [routerLink]="['/conocenos']" (click)="toggleMenu()">
                    Conócenos
                </p>
                <p class="Link" [routerLink]="['/precios']" (click)="toggleMenu()">
                    Precios
                </p>
                <ng-template #usuario>
                    <p class="Link" (click)="authService.singOut()">
                        Cerrar Sesión
                    </p>
                </ng-template>
            </div>
        </div>

    </div>

</div>