.totales {
    margin: 0 1px;
}

.total {
    font-size: xx-large;
    font-weight: 700;
}

.adv {
    font-size: xx-small;
    max-width: 50%;
    color: gold;
    display: inline-block;
}

.cotiTable {
    box-shadow: 6px 6px 32px rgba(0, 0, 0, 0.5);
    padding: 1em;
    /* border-left: solid #9b0ac7; */
}

select {
    border: none !important;
    background: #2a062a !important;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .5) !important;
}

.fa-times {
    cursor: pointer;
}

tbody tr td:nth-child(3) {
    text-align: right !important;
}

td input {
    width: 50% !important;
}

@media screen and (min-width: 500px) {
    td input {
        width: 25%;
    }
}