<div class="contenido container">
    <!-- <div class="row megaIcono">
        <div class="col 12">
        </div>
    </div> -->
    <div class="row grey-text">
        <div class="col s12 bg-3">

            <p class="titleLabel center">
                <img class="center" width="40px" src="../../../../assets/img/icons/Right.png" alt=""> ¡EXCELENTE!
            </p>
            <p class="center ltxt">
                Ya has creado TU EVENTO:
            </p><br>
            <ul class="ltxt">
                <li>De tipo: {{evento.tipoEvento}}</li>
                <li>Para {{evento.personas}} personas </li>
                <li> Por un costo de {{evento.costo}}, que deberás liquidar o dar anticipo para confirmarlo. </li>
            </ul><br>

        </div>
        <div class="col s12 bg-3">
            <p class="ltxt">Ahora vamos buscar el mejor equipo para cubrir tu evento. Nosotros te notificaremos cuando esté listo.
            </p><br>
            <p class="center resaltado">
                Por favor, activa las notificaciones para este sitio. Si no lo has hecho, Da click aquí. Te prometemos que no mandamos SPAM.
            </p>
            <button class="needbtn" (click)="solicitarPermiso()">Activar</button>
        </div>
    </div>

    <div class="row boton">
        <div class="col s6">
            <button [routerLink]="['/usuario/tus-eventos']" routerLinkActive="router-link-active" class="needbtn">TUS EVENTOS</button>
        </div>
        <div class="col s6">
            <button [routerLink]="['/usuario/resumen-pago']" routerLinkActive="router-link-active" class="needbtn">PAGAR</button>
        </div>
    </div>

</div>