<div class="container event-container" *ngIf="datos">
    <ul class="listadetalles ltxt">
        <li class="detalle bg-3">Inicia: {{datos.inicia.toLocaleDateString()}}</li>
        <li class="detalle bg-3">A las: {{datos.inicia.toLocaleTimeString()}}</li>
        <li class="detalle bg-3">Termina: {{datos.termina.toLocaleDateString()}}</li>
        <li class="detalle bg-3">A las: {{datos.termina.toLocaleTimeString()}}</li>
    </ul>
    <ul class="listadetalles ltxt">
        <li class="detalle bg-3">En: {{datos.lugar}}</li>
        <li class="detalle bg-3">
            {{datos.direccion}} <br> {{datos.colonia}} <br> {{datos.ciudad}} <br> {{datos.estado}}
        </li>
        <agm-map [latitude]="datos.lat" [longitude]="datos.lng" [zoom]="15">
            <agm-marker [latitude]="datos.lat" [longitude]="datos.lng"></agm-marker>
        </agm-map>
    </ul>
</div>