<div class="container">
    <ul class="listadetalles ltxt">
        <li class="detalle bg-3">Inicia: {{datos.inicia.toLocaleDateString()}}</li>
        <li class="detalle bg-3">A las: {{datos.inicia.toLocaleTimeString()}}</li>
        <li class="detalle bg-3">Termina: {{datos.termina.toLocaleDateString()}}</li>
        <li class="detalle bg-3">A las: {{datos.termina.toLocaleTimeString()}}</li>
    </ul>
    <ul class="listadetalles ltxt">
        <li class="detalle bg-3">En: {{datos.lugar}}</li>
        <li class="detalle bg-3">
            {{datos.direccion}} <br> {{datos.colonia}} <br> {{datos.ciudad}} <br> {{datos.estado}}
        </li>
    </ul>
</div>