<div class="container contenido grey darken-4">
    <div class="row title">
        <div class="col s12">
            <p class="titleLabel center ltxt">
                EXPERIENCIA LABORAL
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <p class="grey-text lighten-1">
                    Ahora dinos un poco de tu experiencia. Empecemos por los lugares o empresas donde has trabajado en el servicio de eventos sociales.
                </p>
            </div>
        </div>

        <!-- Lugares donde ha trabajado -->
        <app-co-exp-lugares (sendLugarAgregar)=addLugar($event)></app-co-exp-lugares>

        <app-co-exp-lugares-display [lugares]="exp.lugares">
        </app-co-exp-lugares-display>

        <div class="row">
            <div class="col s12 center">
                <p class="grey-text lighten-1">
                    Ahora hablemos de aspectos generales
                </p>
            </div>
        </div>

        <div class="row">
            <form id="coRegistro" #coRegistro="ngForm" (ngSubmit)="onSubmit()" onsubmit="return false" action="">

                <div class="col s12 input-field">
                    <input type="text" name="extracto" id="extracto" [(ngModel)]="exp.extracto" #extracto="ngModel">
                    <label for="extracto">Un resumen de tu experiencia</label>
                </div>

                <div class="row">
                    <div class="col s12 center">
                        <p class="grey-text lighten-1">
                            Menciona tu tiempo de experiencia en los siguientes rubros, si no cuentas con la experiencia, no pasa nada, la puedes dejar en blanco
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <p class="grey-text lighten-1">Meseros</p>
                        <div class="col s6">
                            <label for="meserosYears">Años</label>
                            <input type="number" name="meserosYears" id="meserosYears" [(ngModel)]=exp.mesero.years #meserosYears="ngModel">
                        </div>
                        <div class="col s6">
                            <label for="meserosMeses">Meses</label>
                            <input type="number" name="meserosMeses" id="meserosMeses" [(ngModel)]=exp.mesero.meses #meserosMeses="ngModel">
                        </div>
                    </div>

                    <div class="col s12">
                        <p class="grey-text lighten-1">Barman</p>
                        <div class="col s6">
                            <label for="barmanYears">Años</label>
                            <input type="number" name="barmanYears" id="barmanYears" [(ngModel)]=exp.barman.years #barmanYears="ngModel">
                        </div>
                        <div class="col s6">
                            <label for="barmanMeses">Meses</label>
                            <input type="number" name="barmanMeses" id="barmanMeses" [(ngModel)]=exp.barman.meses #barmanMeses="ngModel">
                        </div>
                    </div>

                    <div class="col s12">
                        <p class="grey-text lighten-1">Hostess</p>
                        <div class="col s6">
                            <label for="hostessYears">Años</label>
                            <input type="number" name="hostessYears" id="hostessYears" [(ngModel)]=exp.hostess.years #hostessYears="ngModel">
                        </div>
                        <div class="col s6">
                            <label for="hostessMeses">Meses</label>
                            <input type="number" name="hostessMeses" id="hostessMeses" [(ngModel)]=exp.hostess.meses #hostessMeses="ngModel">
                        </div>
                    </div>

                    <div class="col s12">
                        <p class="grey-text lighten-1">Seguridad</p>
                        <div class="col s6">
                            <label for="seguridadYears">Años</label>
                            <input type="number" name="seguridadYears" id="seguridadYears" [(ngModel)]=exp.seguridad.years #seguridadYears="ngModel">
                        </div>
                        <div class="col s6">
                            <label for="seguridadMeses">Meses</label>
                            <input type="number" name="seguridadMeses" id="seguridadMeses" [(ngModel)]=exp.seguridad.meses #seguridadMeses="ngModel">
                        </div>
                    </div>

                </div>

                <div class="col s12">
                    <input type="submit" value="Guardar" class="needbtn">
                </div>
            </form>
        </div>
    </div>
</div>