.back {
    margin: -1em 1em;
    color: purple;
}

.contenido {
    min-width: 100%;
    padding: 3em 0;
}

.box-content {
    width: 45% !important;
}

.desktop.container {
    width: 90% !important;
    position: relative;
    top: 2em;
}

.needbtn {
    transform: translate(-80%, -150%) !important;
}