<div class="container">
    <div class="pop-up grey lighten-1">
        <div class="row">
            <div class="col s12">
                <i class="fas fa-times" (click)="onClose()"></i>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <p>{{alerta}}</p>
            </div>
        </div>
        <div class="row" *ngIf="opcion; else ok">
            <div class="col s12 opciones">
                <div class="opcion">
                    <button class="needbtn" (click)="getResponse('aceptar')">Aceptar</button>
                </div>
                <div class="opcion">
                    <button class="needbtn" (click)="getResponse('cancelar')">Cancelar</button>
                </div>
            </div>
        </div>
        <ng-template #ok>
            <div class="col s12">
                <button class="needbtn" (click)="getResponse('aceptar')">Aceptar</button>
            </div>
        </ng-template>
    </div>
</div>