<div class="container">
    <div class="pop-up grey lighten-1">
        <div class="row">
            <div class="col s12">
                <i class="fas fa-times" (click)="onClose()"></i>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                <p>{{alerta}}</p>
            </div>
        </div>
        <div class="row" *ngIf="opcion">
            <div class="col s12 opciones">
                <div class="opcion">
                    <button class="needbtn" (click)="getResponse(true)">{{resSi}}</button>
                </div>
                <div class="opcion">
                    <button class="needbtn" (click)="getResponse(false)">{{resNo}}</button>
                </div>
            </div>
        </div>
    </div>
</div>