<div class="row" id="activaidades">
    <div class="col s12 actividad bg-3 grey-text lighten-1"
     *ngFor="let lugar of lugares; let i = index" >
        <table>
            <thead>
                <tr>
                    <th colspan="4" class="rigth">
                        <i class="fas fa-times grey-text" (click)="delExp(i)"></i>
                    </th>
                </tr>
                <tr>
                    <th colspan=1>Desde:</th>
                    <td colspan=1>{{lugar.desde}}</td>
                    <th colspan=1>Hasta:</th>
                    <td colspan=1>{{lugar.hasta}}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan=1>Empresa o lugar:</th>
                    <td colspan=1>{{lugar.lugar}}</td>
                    <th colspan=1>Puesto:</th>
                    <td colspan=1>{{lugar.puesto}}</td>
                </tr>
                <tr>
                    <th colspan=1>Descripción:</th>
                    <td colspan=3>{{lugar.descripcion}}</td>
                </tr>
                <tr>
                    <th colspan=1>Referencia:</th>
                    <td colspan=1>{{lugar.nameReferencia}}</td>
                    <th colspan=1>Teléfono:</th>
                    <td colspan=1>{{lugar.numReferencia}}</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>