<div class="container event-container">
    <ul class="listadetalles ltxt">
        <li class="detalle">
            {{ personal.meseros }} MESEROS</li>
        <li class="detalle" *ngIf="personal.capitanMeseros > 0">
            {{ personal.capitanMeseros }} CAPITÁN DE MESEROS</li>
        <li class="detalle" *ngIf="personal.barman > 0">
            {{ personal.barman }} BARMAN's</li>
        <li class="detalle" *ngIf="personal.escamoche > 0">
            {{ personal.escamoche }} ESCAMOCHE</li>
        <li class="detalle" *ngIf="personal.valet > 0">
            {{ personal.valet }} VALET PARKING</li>
        <li class="detalle" *ngIf="personal.hostess > 0">
            {{ personal.hostess }} HOSTESS</li>
        <li class="detalle" *ngIf="personal.vigilante > 0">
            {{ personal.vigilante }} VIGILANTE</li>
    </ul>

</div>