<div class="row title">
    <div class="col s12">
        <p class="titleLabel center ltxt">
            CREAR EVENTO
        </p>
    </div>
</div>
<div class="container contenido grey darken-4">

    <div class="pickerPosition"></div>

    <div class="row formulario">
        <form #evenForm="ngForm" action="#" method="POST" id="evenForm" (ngSubmit)="onSubmit()" onsubmit="return false">

            <!-- FECHA Y HORA -->

            <div class="row">
                <div class="col s6">
                    <label for="dateInicio">Inicia el día:</label>
                    <input type="text" (change)="getIniciaDate()" class="datepicker" name="iniciaDate" id="iniciaDate">
                </div>
                <div id="hora" class="col s6" style="display: none;">
                    <label for="timeInicio">...a las:</label>
                    <input type="text" class="timepicker" (change)="getIniciaTime()" name="iniciaTime" id="iniciaTime">
                </div>

                <div *ngIf="ends">
                    <p class="ltxt col s12">
                        Tus meseros serían contratados de {{eventoStarts.hora}} a {{eventoEnds.hora}} {{queDia}}.
                    </p>

                    <div class="col s6">
                        <label for="dateFinal">Termina el día:</label>
                        <input type="text" [(ngModel)]="datos.termina" class="datepicker grey" name="terminaDate" id="terminaDate" disabled>
                    </div>
                    <div class="col s6">
                        <label for="timeFinal">...a las:</label>
                        <input type="text" [(ngModel)]="datos.termina" class="timepicker grey" name="terminaTime" id="terminaTime" disabled>
                    </div>
                    <div class="col s12">
                        <p class="resaltado"><i class="fas fa-info blue-text"></i> Los eventos que contratas en NEED constan de 5 horas, más 2 horas previas para el acomodo del evento</p>
                    </div>
                </div>

            </div>


            <!-- LUGAR  -->

            <div class="row">
                <div class="col s12 input-field">
                    <input type="text" name="lugar" id="lugar" [(ngModel)]="datos.lugar" #lugar="ngModel">
                    <label for="lugar">Nombre del lugar</label>
                </div>
                <div class="col s12 input-field">
                    <input type="text" name="direccion" id="direccion" [(ngModel)]="datos.direccion" #direccion="ngModel">
                    <label for="direccion">Calle y número</label>
                </div>
                <div class="col s12 input-field">
                    <input type="text" name="colonia" id="colonia" [(ngModel)]="datos.colonia" #colonia="ngModel">
                    <label for="colonia">Colonia</label>
                </div>
                <div class="col s12 input-field">
                    <input type="text" name="ciudad" id="ciudad" [(ngModel)]="datos.ciudad" #ciudad="ngModel">
                    <label for="ciudad">Ciudad</label>
                </div>
                <div class="col s12 input-field">
                    <input type="text" name="estado" id="estado" [(ngModel)]="datos.estado" #estado="ngModel">
                    <label for="estado">Estado</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <input type="submit" value="Registrar" class="needbtn">
                </div>
            </div>
        </form>
    </div>

</div>