.coImgContainer {
    width: 70px;
    max-height: 70px;
    overflow: hidden;
    border-radius: 50%;
}

.coImgContainer img {
    width: 100%;
}


/* .collapsible-body {
    padding: 1em !important;
    display: block !important;
} */

.detalle {
    border-bottom: solid 1px;
    padding: 5px 0;
}

.rate {
    display: flex;
    flex-flow: wrap row;
}

.rate i {
    width: 50%;
    cursor: pointer;
}

.click {
    cursor: pointer;
}

.collapsible-header {
    text-transform: capitalize;
    font-size: 1em;
    font-weight: 700;
    border: none;
    margin: 2px 0 !important;
}

.collapsible-body {
    padding: 5px 0 !important;
}

.collection .collection-item.avatar{
    min-height: 50px !important;
}

.collection-item p {
    font-size: smaller !important;
}

.collapsible-accordion {
    border: none;
}

.secondary-content {
    display: flex !important;
    flex-flow: column;
}

a.secondary-content i {
    width: 50%;
    margin: 5px 0;
}


mat-expansion-panel {
    border-radius: 0 !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

mat-panel-title {
    text-transform: capitalize;
}

mat-panel-title, 
mat-panel-description,
::ng-deep .mat-expansion-indicator::after{
    color: #ccc !important;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
    background: #110011 !important;
}

.mat-expansion-panel-body {
    padding: 0 !important;
    background: #110011 !important;
}

