<div class="row" id="activaidades">
    <div class="col s12 actividad" *ngFor="let lugar of lugares">
        <table>
            <thead>
                <tr>
                    <th colspan=1>Desde:</th>
                    <td colspan=1>{{lugar.desde.toLocaleDateString()}}</td>
                    <th colspan=1>Hasta:</th>
                    <td colspan=1>{{lugar.hasta.toLocaleDateString()}}</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan=2>Empresa o lugar:</th>
                    <td colspan=2>{{lugar.lugar}}</td>
                </tr>
                <tr>
                    <th colspan=2>Puesto:</th>
                    <td colspan=2>{{lugar.puesto}}</td>
                </tr>
                <tr>
                    <th colspan=4>Descripción:</th>
                </tr>
                <tr>
                    <td colspan=4>{{lugar.descripcion}}</td>
                </tr>
                <tr>
                    <th colspan=2>Referencia:</th>
                    <td colspan=2>{{lugar.nameReferencia}}</td>
                </tr>
                <tr>
                    <th colspan=2>Teléfono:</th>
                    <td colspan=2>{{lugar.numReferencia}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>