            <div class="col s12">
                <i class="fas fa-times" (click)="onClose()"></i>
            </div>
                <h4 mat-dialog-title>Vacantes</h4>
        <div mat-dialog-content>
            <div class="col s12 ">
                <select name="vacantes " id="vacantes " [(ngModel)]="puesto ">
                <option [value]="vacante " *ngFor="let vacante of vacantes ">{{vacante}}</option>
            </select>
            </div>
        </div>
        <div mat-dialog-actions>
            <div class="col s12 center">
                <button class="needbtn " (click)="onPostular() ">ACEPTAR</button>
            </div>
        </div>