<app-loading class="overlay" style="display: none"></app-loading>
<div class="login contenido">


    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center white-text">Iniciar sesión</h3>
            </div>
        </div>
        <div class="row loginCont valign-wrapper ">
            <div class="col s12 ">
                <ul class="">
                    <li>
                        <button class="fbLogin loginbtn" (click)="facebook()">Facebook</button>
                    </li>
                    <li>
                        <button class="goLogin loginbtn" (click)="google()">Google</button>
                    </li>
                    <li class="center">
                        <mat-checkbox
                            #acept
                            class="purple-text"
                            (change)="onAcept(acept)"
                            >Acepto los <a target="_blank" [routerLink]="['/docs/terminos_y_condiciones']">términos y condiciones</a>
                        </mat-checkbox>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row teamCont valign-wrapper ">
            <div class="col s12">
                <p class="center white-text">Forma parte del equipo de NEED: </p>
                <button class="loginbtn regist" [routerLink]="['/colaborador/']" routerLinkActive="router-link-active">NEED TEAM</button>
            </div>
        </div>
    </div>

</div>