.eventoCont {
    background: #000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .5);
    margin: 1em 0em;
    vertical-align: middle;
    padding: 1em;
    position: relative;
    z-index: 2;
}

.contenido {
    padding-bottom: 9em !important;
}

.edo {
    position: relative;
    float: right;
    text-transform: capitalize;
    text-align: right;
}

.fecha,
.tipoEvento {
    font-size: 1.5em;
}

.fecha {
    color: #ccc;
}

.label {
    font-size: 14px !important;
    font-weight: normal !important;
}

.vacancy {
    cursor: pointer;
    font-weight: 700;
}

#barraTitulo>div {
    height: 2em;
}

#acordion {
    position: relative;
}

.vacantes {
    display: none;
    top: -1em;
    position: relative;
    z-index: 1;
}