<div class="contenido">

    <div class="row title">
        <div class="col s11">
            <p class="titleLabel ltxt center">
                EVENTOS
            </p>
        </div>
        <div class="col s1">
            <button
                (click)="onRefresh()"
                mat-button>
                <i class="fas fa-sync-alt"></i>
            </button>
        </div>
    </div>


    <div class="container" *ngIf="eventos">

        <div class="row" id="acordion" *ngIf="eventos.length > 0; else noEventos">
            <div *ngFor="let evento of eventos; index as id; trackBy: trackByFn" id={{evento.id}}>
                <div class="col s12 bg-2 ltxt eventoCont">
                    <div class="col s6 m4">
                        <span class="label">
                        Tipo de evento: 
                    </span> <br>
                        <span class="tipoEvento">
                        {{evento.tipoEvento}}
                    </span>
                    </div>
                    <div class="col s6 m4">
                        <span class="label"> 
                        Fecha: 
                    </span> <br>
                        <span class="fecha">
                        {{evento.fecha.toLocaleDateString()}} - {{evento.fecha.toLocaleTimeString()}}
                    </span>
                    </div>
                    <div class="col s6 m4">
                        <span class="label"> 
                        Lugar: 
                    </span> <br>
                        <span class="fecha">
                        {{evento.lugar}}
                    </span>
                    </div>
                    <div class="col s6 edo">
                        <span class="label">Estado</span>
                        <br> {{evento.estado}}
                        <span class="est resaltado" [ngClass]="{'gold-text': evento.estado=='pendiente', 'green-text': evento.estado=='confirmado', 'red-text': evento.estado=='cancelado', 'deep-purple-text text-accent-4': evento.estado=='realizado'}">
                        <i class="fas fa-circle"></i>
                    </span>
                    </div>
                    <div class="col s6 right resaltado vacancy">
                        <span (click)="toggleVacantes(evento.id)">Ver vacantes</span>
                    </div>
                </div>
                <div class="col s12 bg-3 vacantes bg-1 vacantes-{{evento.id}}" style="display: none;">
                    <app-ver-vacantes 
                        [refresh]="refresh"
                        id="{{evento.id}}" 
                        *ngIf="idEvento == evento.id" 
                        [idEvento]="evento.id">
                    </app-ver-vacantes>
                </div>
            </div>
        </div>

        <ng-template #noEventos>
            <div class="noData row valign-wrapper grey-text lighten-1">
                <div class="col s12 center">
                    <i class="fas fa-sad-tear"></i>
                    <h5>Por ahora no hay eventos en tu ciudad. Vuelve más tarde</h5>
                </div>
            </div>
        </ng-template>
    </div>
</div>