<div class="contenido container">
    <div class="row megaIcono">
        <div class="col 12">
            <img src="../../../../assets/img/icons/Right.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="titleLabel ltxt center">
                ¡EXCELENTE!
            </p>
            <p class="center ltxt">
                Te has postulado con éxito
            </p><br>
            <p class="ltxt center">Ahora prepárate para tu evento, recuerda que debes dar el mejor servicio, no olvides llegar a tiempo 2 horas antes y generar un buen ambiente de trabajo con tus compañeros. <br> Puedes revisar los datos del evento de nuevo <a [routerLink]="['/colaborador/evento', idEvento]">aquí. </a>
            </p><br>
            <p class="center resaltado">
                Por favor, activa las notificaciones para este sitio. Te prometemos que no mandamos SPAM.
            </p>
        </div>
    </div>

    <div class="row boton">
        <div class="col s12">
            <button [routerLink]="['/colaborador/tus_eventos']" routerLinkActive="router-link-active" class="needbtn">IR TUS EVENTOS</button>
        </div>
    </div>

</div>