<div class="">
    <div class="col s12 black-text back">
        <i class="fas fa-arrow-circle-left" (click)="location.back()"></i>
    </div>
    <div class="row title">
        <div class="col s12 center">
            <p class="titleLabel ltxt">EVENTO</p>
        </div>
        <div class="col s12">
            <button 
                mat-raised-button
                [matMenuTriggerFor]="actions"
            >Acciones</button>
            <mat-menu #actions>
                <ng-container *ngIf="!postulado; else despostular">
                    <button mat-menu-item (click)="onPostular()">Postularse</button>
                </ng-container>
                <ng-template #despostular>
                    <button mat-menu-item (click)="desPostular()">Abandonar postulación</button>
                    <ng-container *ngIf="onWork; else noWork">
                        <button mat-menu-item>Dejar de trabajar</button>
                    </ng-container>
                    <ng-template #noWork>
                        <button mat-menu-item>Iniciar a trabajar</button>
                    </ng-template>
                        <button *ngIf="encargado" mat-menu-item>Panel de encargado</button>
                </ng-template>
                
                
            </mat-menu>
        </div>
    </div>


    <div class="container detalles movil">
        <div class="row rowMenu">
            <div class="col s4 center ico" [routerLink]="['./detalles']" routerLinkActive="resaltado">
                <i class="fas fa-cocktail "></i><br>
                <p class="grey-text lighten-1">EVENTO</p>
            </div>
            <div class="col s4 center ico" [routerLink]="['./datos']" routerLinkActive="resaltado">
                <i class="fas fa-book-reader"></i><br>
                <p class="grey-text lighten-1">LUGAR Y FECHA</p>
            </div>
            <div class="col s4 center ico" [routerLink]="['./personal']" routerLinkActive="resaltado">
                <i class="fas fa-user-tie"></i><br>
                <p class="grey-text lighten-1">EQUIPO</p>
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>

    <div class="container desktop">
        <div class="row">
            <div class="col s4 box-content bg-2">
                <app-detalles [id]="idEvento"></app-detalles>
            </div>
            <div class="col s4 box-content bg-2">
                <app-datos [id]="idEvento"></app-datos>
            </div>
            <div class="col s4 box-content bg-2">
                <app-personal [id]="idEvento"></app-personal>
                <app-ver-equipo></app-ver-equipo>
            </div>
        </div>
    </div>

</div>
<!-- <app-postular class="overlay" *ngIf="idEvento" style="display: none;"></app-postular> -->