.back {
    margin: .2em 1em;
}

.contenido {
    min-width: 100vw;
}

.desktop.container {
    width: 90% !important;
    position: relative;
    top: 2em;
}

.needbtn {
    transform: translate(-80%, -150%) !important;
}

::ng-deep .mat-menu-item:focus {
    background-color: transparent !important;
}