<div class="">
    <div class="row title">
        <div class="col s12 black-text back" [routerLink]="['../../tus-eventos']">
            <i class="fas fa-arrow-circle-left"></i>
        </div>
        <div class="col s12 center label">
            <p class="titleLabel ltxt">
                EVENTO
            </p>
            <br>
            <span></span>
        </div>
        <div class="btn_menu fixed-action-btn horizontal click-to-toggle">
            <a class="btn purple darken-1">
                <i class="fas fa-bars"></i>
            </a>
            <ul *ngIf="evento">
                <li><a class="btn purple darken-3">Editar</a></li>
                <li *ngIf="evento.estado == 'cancelado'">
                    <a class="btn purple darken-2" (click)="onDelete()">Eliminar</a>
                </li>
                <li *ngIf="evento.estado != 'cancelado'">
                    <a class="btn purple darken-2" (click)="onCancel()">Cancelar</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container detalles movil bg-2">
        <div class="row">
            <div class="col s12">
                <ul class="rowMenu tabs">
                    <li class="tab col s3">
                        <a href="#detalles">
                            <i class="fas fa-cocktail "></i>EVENTO
                        </a>
                    </li>
                    <li class="tab col s3">
                        <a href="#datos">
                            <i class="fas fa-book-reader"></i>DATOS
                        </a>
                    </li>
                    <li class="tab col s3">
                        <a href="#personal">
                            <i class="fas fa-user-tie"></i>PERSONAL
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tabs-content carousel">
                <div id="detalles" class="col s12">
                    <app-detalles></app-detalles>
                </div>
                <div id="datos" class="col s12">
                    <app-datos></app-datos>
                </div>
                <div id="personal" class="col s12">
                    <app-ver-equipo [equipo]="equipo"></app-ver-equipo>
                </div>
            </div>

        </div>

    </div>

    <div class="container desktop">
        <div class="row">
            <div class="col s4 box-content">
                <app-detalles></app-detalles>
            </div>
            <div class="col s4 box-content">
                <app-datos ></app-datos>
            </div>
            <div class="col s12 box-content">
                <app-ver-equipo *ngIf="evento" [equipo]="equipo" [estado]="evento.estado_equipo"></app-ver-equipo>
            </div>
        </div>
    </div>
</div>

<app-loading class="overlay"></app-loading>