.contenido {
    width: 100%;
    top: 0em;
    position: relative;
}

a {
    top: -1em !important;
    position: relative !important;
    display: inline-grid !important;
    line-height: 1px !important;
    color: #b244cc !important;
}

a.active {
    color: gold !important
}

a i {
    font-size: 20px;
}

.ico {
    cursor: pointer;
}

.desktop.container {
    width: 90% !important;
    position: relative;
    top: 2em;
}

.back {
    margin: .2em 1em;
}

.btn_menu {}

.btn_menu a {
    line-height: 1.8 !important;
    color: honeydew !important;
}

.btn_menu li {
    margin: 0 15px 0 0;
}

.btn_menu li a {
    line-height: 2.7 !important;
    color: honeydew !important;
}

@media screen and (min-width: 500px) {
    .title {
        padding: 5em;
        height: 100px;
    }
    .label {
        height: 0px;
    }
}