<div class="row" id="barraTitulo">
    <div class="col s1">
        <a href="javascript:history.back()" class="back ltxt">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
    <div class="col s10">
        <p class="titleLabel ltxt center">
            PAGAR
        </p>
    </div>
</div>
<div class="container contenido" id="pagarPlan">
    <ng-container *ngIf="plan">
        <h4 class="center ltxt">¡Buenas noticias!</h4>
        <h5 class="center ltxt">En este momento, por preventa estamos regalando 3 meses gratis en todos nuestros planes. Haz un pago inicial y disfruta de esta promoción</h5>

        <div class="row">
            <div class="col s12">
                <h6 class="center grey-text lighten-1">Lo sentimos</h6>
                <p class="center ltxt">Por ahora sólo podemos hacer el cobro por transferencia electrónica. <br> Tendrás que hacer un depósito por <span class="resaltado">${{plan.pago_inicial}}°°</span> para el plan {{plan.nombre}} a alguna de las siguientes opciones</p>
                <table>
                    <tbody>
                        <tr>
                            <th>Número de tarjeta - BBVA</th>
                            <td>4152 3135 6020 4880</td>
                        </tr>
                        <tr>
                            <th>Número de tarjeta - Santander</th>
                            <td>5579 0701 0254 0534</td>
                        </tr>
                    </tbody>
                </table>
                <p class="center ltxt">
                    Al hacer la transferencia, envía una foto o imagen del recibo a <span class="resaltado">app.need.mx@gmail.com</span> y el correo con el que has registrado la compra y nosotros nos pondremos en contacto contigo
                </p>
                <!-- <app-pago-form [nombre]="plan.name" [concepto]="'plan'" [total]="plan.total"></app-pago-form> -->

                <!-- <button class="needbtn" (click)="sendSolicitud()">Enviar solicitud</button> -->
            </div>
        </div>

    </ng-container>

    <!-- <ng-template #mensual>

        <p class="ltxt center">¡Muy bien! disfruta de un mes gratis de los servicios </p>
        <p class="center ltxt">Por ahora sólo podemos hacer el cobro por transferencia electrónica. Pero podrás disfrutar de tu servicios una vez que demos autorización a tu negocio. Espero nuestro correo.</p>

        <button class="needbtn" (click)="sendSolicitud()">Enviar solicitud</button>

    </ng-template> -->
</div>