<div class="contenido" *ngIf="(authService.user$ | async) as usuario">

    <div class="row" id="datosUsuario">
        <div class="col s12 center">
            <div id="fotoPerfil">
                <img src="{{usuario.photoURL}}" alt="">
            </div>
        </div>
        <div class="col s12" id="datos">
            <ul>
                <li id="nombre">{{usuario.displayName}}</li>
                <li id="email">{{usuario.email}}</li>
            </ul>
        </div>
    </div>

    <div class="row" id="rating">
        <div class="col s6 center">
            <span class="number">{{eventos}}</span><br>
            <span class="dato">Eventos</span>
        </div>
        <div class="col s6 center">
            <span class="number">{{votos}}</span><br>
            <span class="dato">Votos</span>
        </div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col s12 m6">
                <div class="row seccion bg-2">

                    <div class="col s12">
                        <h5 class="center grey-text lighten-1">NOTIFICACIONES</h5>

                        <div *ngIf="notificaciones">
                            <ul>
                                <li *ngFor="let notificacion of notificaciones">
                                    <div class="col s10" [routerLink]="['../evento', notificacion.eventoId, 'pagar']">
                                        <h6 class="resaltado"> {{notificacion.title}} </h6>
                                    </div>
                                    <div class="col s2">
                                        <i class="fas fa-trash-alt grey-text" (click)="delNotificacion(notificacion.id)"></i>
                                    </div>
                                    <div class="col s12" [routerLink]="['../evento', notificacion.eventoId, 'pagar']">
                                        <p class="grey-text noti-body">{{notificacion.body}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="row seccion bg-2">
                    <div class="col s12">
                        <h5 class="center grey-text lighten-1">LOGROS</h5>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 seccion bg-2">
                <div class="row">
                    <div class="col s12">
                        <h5 class="center grey-text lighten-1">NEGOCIOS</h5>
                    </div>
                </div>
                <div class="row negocio " *ngFor="let neg of userNegocios" [routerLink]="['/usuario/negocio', neg.idNegocio ]">
                    <div class="col s3 imgNegocio">
                        <img src="{{neg.imgPerfil}}" alt="">
                    </div>
                    <div class="col s9 imgName">
                        {{neg.nombre}}
                    </div>
                </div>
                <div class="row">
                    <div class="col s12" id="noNeg" *ngIf="userNegocios == false">
                        *Si tienes un negocio que ofrece servicios para eventos sociales. Anúncialo en nuestro <span [routerLink]="['/directorio']">DIRECTORIO</span> y llega a miles de usuarios que usan NEED.
                    </div>
                </div>
                <button class="needbtn" [routerLink]="['/directorio/bienvenida']">Agregar negocio</button>
            </div>
        </div>
    </div>

</div>