.title {
    background: url('../../../../../assets/img/profileBg.png');
    width: 100%;
    margin: 0 0 2em;
    height: 5em;
}

.calendar {
    min-height: 75vh;
    padding: 2em;
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.5);
}

.fc-toolbar h2 {
    font-size: 1em !important;
}

.needbtn {
    left: 0 !important;
    transform: translate(0) !important;
}

.eventCant {
    font-weight: 600;
    font-size: 1.5em;
}

.title .col {
    height: 1em;
}

.tus_eventos {
    background: #202020;
}

ul.lista {
    min-height: 70vh;
}

.evento {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    margin: 1em 0em;
    vertical-align: middle;
    padding: 1em;
    font-weight: bolder;
    font-size: 18px;
    color: #635563;
    cursor: pointer;
}

.fecha,
.tipoEvento {
    font-size: 1.5em;
}

.fecha {
    color: #ccc;
}

.label {
    font-size: 14px !important;
    font-weight: normal !important;
}

.est {
    text-transform: capitalize;
}