.heroform {
    padding: 1em !important;
}

#heroForm {
    position: relative;
    top: 1em;
}

#heroForm input {
    border: solid 1px #f2f2f2 !important;
    background: none !important;
    box-shadow: none !important;
}

.popup {
    display: none;
    padding: 0 5%;
    background: #110011f2;
    width: 95%;
    height: calc(98vh - 5em);
    position: fixed;
    left: 50%;
    transform: translate(-50%, -0.5%);
    bottom: 5em;
    border-radius: 2em;
}

.ext {
    background: #6c009c;
    padding: 5px 10px;
    width: 100%;
    margin: 5px 0;
}

.ext span {
    cursor: pointer;
}

.inputs {
    width: 100%;
    position: relative;
    height: calc(75vh - 7em);
    top: 0vh;
    align-items: center;
    justify-content: center;
}

.popup form .col {
    display: flex;
    flex-direction: column;
}

.popup form label,
.popup form input {
    width: 50% !important;
}

.close {
    margin-bottom: 0;
    right: 7vw;
    position: absolute;
    font-size: 1.5rem;
}

.desc h2 {
    margin: .75rem 0;
}

#jefe {
    max-width: 75%;
}

#heroForm2 {
    position: relative;
    bottom: -6em
}

#def {
    position: relative;
    top: 0em;
}

#def p {
    font-size: 1.5rem !important;
}

#nodef {
    position: relative;
    top: 1em;
    width: 100%;
}

.cotizar {
    position: absolute;
    bottom: -4em;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.extras {
    width: 100% !important;
    position: relative;
    top: 1em;
}

@media screen and (min-width: 500px) {
    .close {
        position: absolute;
        right: 3vw;
        top: 5vh;
        font-size: 1.5rem;
    }
    .popup {
        max-height: 100vh;
        bottom: 0vh;
        width: 50%;
        left: 70%;
    }
    .inputs {
        overflow-x: hidden;
        overflow-y: auto;
    }
    .ext {
        margin-top: 0;
    }
    .inputs::-webkit-scrollbar {
        width: 5px;
    }
    .inputs::-webkit-scrollbar-thumb:hover {
        width: 10px;
    }
    .inputs::-webkit-scrollbar-thumb {
        background: rgb(109, 0, 128);
        border-radius: 10px
    }
    #heroForm2 {
        position: relative;
        bottom: -4em
    }
}