<div class="contenido">
    <div class="col s12 black-text back" [routerLink]="['../../tus-eventos']">
        <i class="fas fa-arrow-circle-left"></i>
    </div>
    <div class="row title">
        <div class="col s12 center">
            <p class="titleLabel ltxt">
                EVENTO
            </p>
            <br>
            <span></span>
        </div>
    </div>

    <div class="container detalles movil">
        <div class="row rowMenu">
            <div class="col s4 center ico" [routerLink]="['./detalles']" routerLinkActive="activated">
                <i class="fas fa-cocktail "></i><br>
                <p class="grey-text lighten-1">EVENTO</p>
            </div>
            <div class="col s4 center ico" [routerLink]="['./datos']" routerLinkActive="activated">
                <i class="fas fa-book-reader"></i><br>
                <p class="grey-text lighten-1">LUGAR Y FECHA</p>
            </div>
            <div class="col s4 center ico" [routerLink]="['./personal']" routerLinkActive="activated">
                <i class="fas fa-user-tie"></i><br>
                <p class="grey-text lighten-1">PERSONAL</p>
            </div>
        </div>

        <router-outlet></router-outlet>
    </div>

    <div class="detalles desktop">
        <div class="row">
            <div class="col s4 box-content">
                <app-detalles [id]="idEvento"></app-detalles>
            </div>
            <div class="col s4 box-content">
                <app-datos [id]="idEvento"></app-datos>
            </div>
            <div class="col s4 box-content">
                <app-personal [id]="idEvento"></app-personal>
            </div>
        </div>
    </div>
</div>