.contenido {
    width: 100%;
    top: 0em;
    position: relative;
}

.activated {
    color: gold
}

.ico {
    cursor: pointer;
}

.desktop.container {
    width: 90% !important;
    position: relative;
    top: 2em;
}

.back {
    margin: .2em 1em;
}