<div class="row formulario">
    <form action="#" #altaNegocio="ngForm" onsubmit="return false" method="POST" id="negocio" (ngSubmit)="onSubmit()">

        <div class="col s12 input-field">
            <input type="text" name="nombre" id="nombre" [(ngModel)]="negocio.nombre" #nombre="ngModel" required>
            <label for="nombre">Nombre del negocio</label>
            <span class="formAlert" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                Debes agregar un nombre
            </span>
        </div>

        <select name="categoria" id="categoria" [(ngModel)]="negocio.categoria" #categoria="ngModel">
            <option value="" disabled selected>Elige una categoria</option>
            <option value="{{catego.name}}" *ngFor="let catego of categorias">{{catego.name}}</option>
        </select>


        <div class="col s12">
            <input type="submit" value="ENVIAR" class="needbtn">
            <!-- [disabled]="!altaNegocio.form.valid" -->
        </div>
    </form>
</div>