.fas {
    cursor: pointer;
}

.perfil {
    max-width: 50px;
}

.perfil img {
    width: 100%;
}

.options {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.options i {
    width: 33.3333%;
    margin: auto;
}

select {
    background: transparent;
    border: solid 1px #ccc;
    text-transform: capitalize;
}

option {
    text-transform: capitalize;
}