<div class="row navbar valign-wrapper">
    <div class="col s12">
        <ul>

            <div *ngIf="auth.user$ | async; then usuario; else invitado"></div>

            <ng-template #usuario>
                <li class="navitem" *ngIf="!colabMenu" id="newIcon" [routerLink]="['/usuario/nuevo-evento']" routerLinkActive="navActive">
                    <p class="itemIcon"><i class="fas fa-calendar-plus"></i><br><span class="name">Nuevo evento</span></p>
                    <p class="itemLink">NUEVO EVENTO</p>
                </li>
                <li class="navitem" *ngIf="!colabMenu" id="calIcon" [routerLink]="['/usuario/mis-eventos']" routerLinkActive="navActive">
                    <p class="itemIcon"><i class="fas fa-calendar-day"></i><br><span class="name">Mis eventos</span></p>
                    <p class="itemLink">MIS EVENTOS</p>
                </li>
                <li class="navitem" *ngIf="!colabMenu" id="userIcon" [routerLink]="['/usuario/perfil']" routerLinkActive="navActive">
                    <p class="itemIcon"><i class="fas fa-user"></i><br><span class="name">Mi cuenta</span></p>
                    <p class="itemLink">MI CUENTA</p>
                </li>

                <li class="navitem" *ngIf="colabMenu" id="newIcon" [routerLink]="['/colaborador/eventos']" routerLinkActive="navActive">
                    <p class="itemIcon"><i class="fas fa-clipboard-list"></i><br><span class="name">Eventos</span></p>
                    <p class="itemLink">EVENTOS</p>
                </li>
                <li class="navitem" *ngIf="colabMenu" id="calIcon" [routerLink]="['/colaborador/tus_eventos']" routerLinkActive="navActive">
                    <p class="itemIcon"><i class="fas fa-calendar-day"></i><br><span class="name">Mis eventos</span></p>
                    <p class="itemLink">MIS EVENTOS</p>
                </li>
                <li class="navitem" *ngIf="colabMenu" id="userIcon" [routerLink]="['/colaborador/perfil']" routerLinkActive="navActive">
                    <p class="itemIcon"><i class="fas fa-user-tie"></i><br><span class="name">Cuenta colaborador</span></p>
                    <p class="itemLink">CUENTA COLABORADOR</p>
                </li>
            </ng-template>


            <ng-template #colaborador>

            </ng-template>

            <ng-template #invitado>
                <li class="navitem" id="homeIcon" [routerLink]="['/']" routerLinkActive="navActive">
                    <p class="itemIcon"><i class="fas fa-home"></i><br><span class="name">Inicio</span></p>
                    <p class="itemLink">INICIO</p>
                </li>
                <li class="navitem" id="logIcon" [routerLink]="['/login']" routerLinkActive="navActive">
                    <p class="itemIcon"><i class="fas fa-sign-in-alt"></i><br><span class="name">Ingresar</span></p>
                    <p class="itemLink">INGRESAR</p>
                </li>
            </ng-template>

            <li class="navitem" id="dirIcon" [routerLink]="['/directorio/categorias']" routerLinkActive="navActive">
                <p class="itemIcon"><i class="fas fa-address-book"></i><br><span class="name">Directorio</span></p>
                <p class="itemLink">DIRECTORIO</p>
            </li>
            <li class="navitem" id="menuIcon" (click)="toggleMenu()">
                <p class="itemIcon"><i class="fas fa-bars"></i><br><span class="name">Menu</span></p>
                <p class="itemLink">MENÚ</p>
            </li>

        </ul>
    </div>
</div>
<div id="menu" class="closed">
    <div id="close" style="display: none" (click)="cerrarMenu($event)">
        <i class="fas fa-times"></i><br><span class="name"></span>
    </div>
    <app-main-menu style="display: none;" (cerrarMenu)="cerrarMenu($event)"></app-main-menu>
</div>