/* @import "~ng-pick-datetime/assets/style/picker.min.css"; */

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* ANIMATION */

.route-container {
    position: relative;
}

.route-container>* {
    display: block;
}


/* THEME */

body,
html {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    padding: 0;
    background: #110011;
}

body {
    overflow-x: hidden !important;
    background: #110011 !important;
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: transparent !important;
}

*::-webkit-scrollbar-thumb {
    background: #2a062a !important;
    border-radius: 5px !important;
}

p {
    /* font-weight: bolder !important; */
    font-size: 18px !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    color: #e3e3e3 !important
}

a {
    color: #ccc !important;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea,
textarea {
    margin-bottom: 0% !important;
    color: #e3e3e3;
    border: 0 !important;
    padding: 0 10px !important;
    max-width: 92% !important;
    margin-bottom: 1em !important;
    width: 90%;
    background: #2a062a !important;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.7) !important;
}

table {
    color: #ccc;
}

@media screen and (min-width: 500px) {
    input:not([type]),
    input[type=text]:not(.browser-default),
    input[type=password]:not(.browser-default),
    input[type=email]:not(.browser-default),
    input[type=url]:not(.browser-default),
    input[type=tel]:not(.browser-default),
    input[type=number]:not(.browser-default),
    input[type=search]:not(.browser-default) {
        max-width: 94.5% !important;
    }
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: #CCC !important;
}


/* input:not([type]):focus:not([readonly]), */

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #6c009c !important;
    box-shadow: 0 1px 0 0 #7701aa !important;
}

input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default) {
    border: solid 2px #ccc;
    text-align: center;
    font-size: 1.2em;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:after {
    background-color: #6C009C !important;
}

[type="radio"]:checked+label:after,
[type="radio"].with-gap:checked+label:before,
[type="radio"].with-gap:checked+label:after {
    border: 2px solid #6C009C !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: gold !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: rgba(255, 217, 0, 0.562) !important;
}

button:focus {
    outline: none;
    background-color: #190319 !important;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background: none !important;
}

.carousel {
    height: auto !important;
}

.indicator {
    background-color: gold !important;
    width: 32% !important;
}

textarea {
    color: #ccc;
    min-width: 100%;
}

* {
    outline: none !important;
}

.input-field.col label {
    left: 1.75rem !important;
}

.pickerPosition {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.modal.datepicker-modal.open {
    width: 100% !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.select-dropdown.dropdown-trigger {
    display: none !important;
}

.picker__box {
    border: none !important;
}

.picker__day.picker__day--today,
.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done,
.datepicker-table td.is-today {
    color: #6C009C !important;
}

.picker__date-display,
.picker__weekday-display,
.datepicker-date-display,
.datepicker-table td.is-selected {
    background-color: #6C009C !important;
}

.datepicker-digital-display {
    background-color: #6C009C !important;
}

.timepicker-digital-display {
    background-color: #6C009C !important;
}

.timepicker-canvas line {
    stroke: #6C009C !important;
}

.timepicker-canvas-bg,
.timepicker-canvas-bearing {
    fill: #6C009C !important;
}

.modal.timepicker-modal.open {
    top: 0 !important;
}

.confirmation-btns button {
    color: #6c009c !important;
    font-weight: 700;
}

igx-prefix {
    display: none !important;
}

table.highlight>tbody>tr:hover {
    background-color: #6c009c29 !important;
}


/* DISEÑOS DE TEXTO */

.ltxt {
    color: #e3e3e3;
}

.dtxt {
    color: #202020;
}

.ptxt {
    color: #6C009C;
}

.desc h2 {
    font-size: 2.5em
}

.resaltado {
    color: gold !important;
}

label {
    text-transform: uppercase;
    font-size: 1.1rem
}

.titleLabel {
    font-size: 2.5em !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    color: #e3e3e3;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    top: -1em;
    position: relative;
}

.exclam {
    font-size: 2em;
    font-weight: 600
}

.formAlert {
    color: #ffca00;
}


@media screen and (min-width: 500px){
    .title{
        padding-top: 5em;
    }
}


/* DISEÑO DE ELEMENTOS */

.megaIcono {
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.megaIcono img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%
}

@media screen and (min-width: 500px) {
    .megaIcono img {
        width: 30%;
    }
}

.needbtn {
    background: #6C009C !important;
    color: #e3e3e3;
    font-weight: 600;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.needbtn:hover {
    background: #7701aa !important
}

.needbtn:disabled {
    background: #ccc !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

select {
    display: block !important;
}

.close {
    color: #e3e3e3;
    font-size: 2em;
    position: relative;
    top: 0em;
    display: inline-block;
    width: 100%;
    margin: 0;
    text-align: right;
}

.nomargin {
    margin: 0 !important;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background: #2d023f;
    z-index: 1;
    position: fixed;
    transition: all .3s;
    top: 0;
}

.fileneedbtn {
    background: #6C009C !important;
    float: right !important;
    width: 110%
}

.upImage {
    width: 45% !important;
    line-height: 1;
    text-align: right !important;
    color: #fff !important;
}

.negImagen {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.negImagen img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    background-color: #fff;
}

app-loading {
    position: absolute;
    z-index: 10;
}

app-loading-inset {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;

}

#barraTitulo {
    position: relative;
    z-index: 5;
    text-align: center;
    width: 100vw;
    top: 0em;
    height: 5em;
    padding-top: 1em;
    background: #2a062a;
}

#barraTitulo .s1 {
    padding: 0 1em
}


/* DISEÑOS DE ESTRUCTURA */

.contenido {
    padding-bottom: 5em;
    /* padding-top: 5em; */
    min-height: 100vh;
}

.formPage {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 5%;
    position: absolute
}

#footer {
    display: none;
    z-index: 1;
}

#navbar {
    position: absolute;
    z-index: 12;
}

#cuerpo {
    z-index: 5;
}

form .row {
    margin-bottom: 10px !important
}


/* NAVBAR */

.navbar {
    position: fixed;
    bottom: 0;
    height: 5em;
    width: 100vw;
    margin: 0 !important;
    color: #e3e3e3;
    box-shadow: 0px -10px 15px rgba(0, 0, 0, .5);
    left: 0;
    /* z-index: 10; */
}

.navbar ul {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    font-size: 3em;
    float: left;
    display: flex;
    flex-direction: row nowrap;
    width: 100%;
    margin: 0 !important;
}

.navitem {
    width: 50%;
    text-align: center;
    color: #e3e3e3;
    cursor: pointer;
    transition: all .5s
    /* margin: 0 25%; */
}

.itemIcon {
    display: block;
    margin: 0;
    font-size: 0.65em !important;
    color: #CCC !important;
}

.itemLink {
    display: none;
    font-size: 0.5em;
}

.homeLegend {
    display: none;
}

.back {
    font-size: 2em;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.navActive p {
    color: #b244cc !important
}


/* HERO */

.hero {
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, .5)), url('assets/img/meseros-4.jpg');
    background-position: 75% center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 2%;
    width: 100%;
    height: 100vh;
}

.contentInicio {
    display: flex;
    flex-direction: column;
}

.logo1 {
    position: relative;
    top: 3em;
}

.logo1 img {
    width: 35%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}

.heroform {
    position: relative;
    bottom: -2em;
    padding: 1em 1em;
}

.heroform .row {
    margin: -1em;
}

.heroform select {
    background: rgba(0, 0, 0, .5);
}

.heroform h2 {
    margin-top: .5em;
    font-size: 1.5em !important;
}

.formulario {
    max-width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.7);
    padding: 2em 1em;
    margin: auto !important;
}

.masInfo {
    display: block !important;
}

.categoName {
    z-index: 0;
}

.rowMenu {
    color: #e3e3e3;
    background: #000 !important;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .5);
    position: relative;
    /* top: -6em; */
    height: 70px !important;
}

.ico:focus {
    outline-color: unset !important;
}

.ico p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.ico i {
    font-size: 2em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.container.detalles {
    background: #202020;
    min-width: 100%;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    padding: 0 2em 0em;
    min-height: 80vh;
}

li.detalle {
    color: #e3e3e3 !important;
}

.event-container {
    width: 90% !important;
}


/* NEGOCIO FORM */

#categoria {
    background: none;
    width: 93%;
    left: 4%;
    position: relative;
    color: #ccc
}

option:disabled {
    color: #ccc !important
}

option {
    background: #202020 !important;
    color: #ccc !important;
}

option:hover {
    background: #ccc !important;
    color: #202020 !important;
}


/* CALENDARIO */

.fc-today-button,
.fc-button-group {
    position: relative;
    float: right;
}

.fc-today-button,
.fc-next-button,
.fc-prev-button {
    background-color: #6C009C !important;
    border: none;
}

.fc-today-button:disabled {
    background-color: #ccc !important;
}

td.fc-today {
    background: #000 !important;
}

.title {
    background: url('/assets/img/profileBg.png');
    width: 100%;
    margin: 0;
}

.btn-floating {
    position: absolute !important;
    bottom: 6em;
    right: 1em;
}

.datepicker-day-button {
    color: #202020 !important;
}

.is-selected .datepicker-day-button {
    color: #fff !important;
}

.is-today .datepicker-day-button {
    color: #6C009C !important;
}

.is-today.is-selected .datepicker-day-button {
    color: #fff !important;
}

.actividad table {
    color: #635563;
}

.seccion {
    box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.7) !important;
    border-radius: 0em !important;
    margin-top: 3em;
    background: #101;
}

.detalle {
    list-style-type: none;
    padding: 1em;
    background: #2e0c2e;
    color: #635563;
    margin: 2px;
    font-weight: 600;
}

.listadetalles {
    position: relative;
    top: 0em
}

.bg-1 {
    background: #110011 !important;
}

.bg-2 {
    background: #190319 !important;
}

.bg-3 {
    background: #2e0c2e !important;
}

.options {
    display: flex;
    flex-flow: wrap row;
}

.options i {
    width: 50%;
    cursor: pointer;
}

.noData {
    min-height: 70vh;
    min-width: 70vw;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.noData i {
    font-size: 10em;
}

.noti-body {
    font-size: 12px !important;
}

.pop_up {
    background: #202020;
    width: 66.6666%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
}