<app-loading class="overlay" style="display: none"></app-loading>
<div class="login contenido">


    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center white-text">Iniciar sesión</h3>
            </div>
        </div>

        <div class="row loginCont valign-wrapper">
            <div class="col s12">
                <!-- <p class="grey-text lighten-1">Da click para iniciar sesión</p> -->
                <button class="loginbtn" (click)="_coauth.googleSingIn()"> Iniciar sesión</button>
            </div>
        </div>
        <div class="row teamCont">
            <div class="col s12">
                <p class="center white-text">¿Aún no tienes cuenta como colaborador?</p>
                <button class="nextbtn regist" [routerLink]="['/colaborador/registro']">REGÍSTRATE</button>
            </div>
            <div class="col s12">
                <button class="loginbtn regist" (click)="location.back()">REGRESAR</button>
            </div>
        </div>
    </div>

</div>