<div class="bg-1">
    <div class="row title">
        <div class="col s12">
            <p class="titleLabel center ltxt">
                MIS EVENTOS
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s6 grey-text lighten-1 eventCant">
                Tienes: {{eventos.length}} eventos
            </div>
            <div class="col s6">
                <button class="needbtn right" (click)="changeVista()"> {{vista}} </button>
            </div>
        </div>
        <div class="row">
            <div *ngIf="calendarView; else lista">
                <div class="col s12" id="calContainer">
                    <div class="calendar bg-2 grey-text lighten-1">
                        <full-calendar [plugins]="calendarPlugins" [handleWindowResize]=true [height]="400" [nowIndicator]=false locale="es" defaultView='dayGridMonth' [slotLabelFormat]="{ hour: 'numeric', minute: '2-digit' }" [views]="views" selectable="true" [slotDuration]="'01:00:00'"
                            [eventColor]="'#6C009C'" editable="false" eventDurationEditable="false" (eventClick)="clickEvento($event)" [events]="eventos"></full-calendar>
                    </div>
                </div>
            </div>
            <ng-template #lista>
                <div class="row" id="acordion">
                    <div class="evento bg-2 ltxt col s12" *ngFor="let evento of eventosList" [routerLink]="['/colaborador/evento', evento.id]">
                        <div class="col s6 m4">
                            <span class="label">Tipo de evento</span>
                            <br> <span class="tipoEvento">{{evento.tipoEvento}} </span>
                        </div>
                        <div class="col m4">
                            <span class="label">Fecha</span><br>
                            <span class="fecha">{{evento.fecha.toLocaleDateString()}}</span>
                        </div>
                        <div class="col s6 m4 edo">
                            <span class="label">Estado</span>
                            <br> {{evento.estado}}
                            <span class="est resaltado" [ngClass]="{'gold-text': evento.estado=='pendiente'}" [ngClass]="{'green-text': evento.estado=='proximo'}" [ngClass]="{'red-text': evento.estado=='cancelado'}" [ngClass]="{'deep-purple-text text-accent-4': evento.estado=='completado'}">
                                <i class="fas fa-circle"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </ng-template>

        </div>
    </div>
</div>