<div class="row">
    <div class="col s10">
        <h2 class="grey-text lighten-1">CAPITANES</h2>
    </div>
</div>

<div class="row">
    <form action="#" method="post" onsubmit="return false" (ngSubmit)="onSearch()" #search="ngForm">
        <div class="col s12 input-field">
            <input type="email" name="email" id="email" [(ngModel)]="emailToSearch" #email="ngModel" placeholder="Buscar por email">
            <button class="btn waves-effect purple lighten-1">Agregar</button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12">
        <table class="highlight bordered responsive-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Opciones</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let cap of capitanes">
                    <td>{{cap.data.nombre}}</td>
                    <td>{{cap.data.apellido_paterno}} {{cap.data.apellido_materno}}</td>
                    <td>{{cap.data.email}}</td>
                    <td class="options">
                        <i class="fas fa-trash red-text" (click)="onDeleteAsCap(cap.uid)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>